<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zest Pay Exchange</title>
    <style>
        .box{
            background-color:rgba(0, 102, 255, 0.63);
            text-decoration-color: black;
            font-size: large;
            font-style: italic;
            font-family: cursive;
        }
    </style>
    <center><h1>Profile Center</h1></center>
    <div class="box">
        
        
        <h2>Name : </h2>
        <h2>Identity Verification Status :
        <h2>Gender :</h2>
        <h2>Email : </h2>
        <h2>Contact Info :</h2>
        <h2>Nationality : </h2>
        <h2>Postal Code :</h2>
        <h2>Currency Preference  : </h2>
        <h2>Residence Adress :</h2>
       
    </div>
    
    

    
</head>
<body>
    
</body>
</html>